<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd"
	version="3.1">
	<display-name>SCE</display-name>
	
	<welcome-file-list>
		<welcome-file>/login/login.xhtml</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>FacesServlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>FacesServlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>primefaces.THEME</param-name>
		<param-value>blitzer</param-value>
	</context-param>
	
	<session-config>
		<session-timeout>3</session-timeout>
	</session-config>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>br.com.sce.security.SecurityFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <servlet-name>FacesServlet</servlet-name>
    </filter-mapping>
</web-app>